doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css", integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N", crossorigin="anonymous")
        link(rel="stylesheet", href="../assets/css/bootstrap.css")
        link(rel="stylesheet", href="../assets/css/style.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css", integrity="sha384-NvKbDTEnL+A8F/AA5Tc5kmMLSJHUO868P+lDtTpJIeQdGYaUIuLr4lVGOEA1OcMy", crossorigin="anonymous")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title tamrin pug
    body
        .container-fluid.sticky-top.shadow-sm.bg-light
            .row
                .col-sm-12
                    nav.navbar.navbar-light.bg-light
                        p.navbar-brand.mb-0.h1.font-custom Pug.js Demos
        
        .container
            .row
                .col-sm-12
                    .custom-mid-nav.border-bottom.mx-2.py-3
                        img.img-fluid.mr-3(src="../assets/image/pug-icon.png", alt="")
                        a(href="") pug.js docs

        .container
            .row
                .col-sm-12
                    .title.mx-2.mt-4
                        strong  General Syntax
            .row.mx-2.cards-container
                .col-sm-12.px-0.card-stack
                    .card.rounded-0.border-0.card-custom.mt-3
                        .card-body.custom-content
                            strong.text-dark.d-inline.pr-4 main.container
                            span.text-muted.d-inline //To create an element, type its name w/o the normal HTML brackets. Append classes/ID with "." & "#".     
                .col-sm-12.px-0.card-stack
                    .card.rounded-0.border-0.card-custom.mt-3
                        .card-body.custom-content
                            strong.text-dark.d-inline.pr-4 .row 
                            span.text-muted.d-inline  //To nest an element in another, space or tab the next line to indent it. You can omit "div" if it has a class.
                .col-sm-12.px-0.card-stack
                    .card.rounded-0.border-0.card-custom.mt-3
                        .card-body.custom-content
                            strong.text-dark.d-inline.pr-4 .col-lg-12.p-5#test
                            span.text-muted.d-inline //String multiple classes or a single ID together.
                .col-sm-12.px-0.card-stack
                    .card.rounded-0.border-0.card-custom.mt-3
                        .card-body.custom-content
                            strong.text-dark.d-inline.pr-4 div 
                            span.text-muted.d-inline // You do need to write out "div" if it does not have a class.
                .col-sm-12.px-0.card-stack
                    .card.rounded-0.border-0.card-custom.mt-3
                        .card-body.custom-content
                            strong.text-dark.d-inline.pr-4 img(src="test.jpg" alt="") 
                            span.text-muted.d-inline  //Attributes (e.g, src, alt, style, etc) are added to elements with parentheses.
        
        .container.mt-5
            .row.custom-footer
                strong.strong.text-dark.mb-3.ml-4 Build-in Javascript Goodness
                .col-sm-12.d-flex
                    .col-sm-6.flex-fill.custom-sentences 
                        p.text-muted Iteraction ("each") Ex :
                        p.text-muted - var number = ['one','two','three']
                        p.text-muted ul 
                        p.text-muted.ml-4 each number in numbers
                        p.text-muted.ml-5 li= number
                    .col-sm-6.flex-fill.bg-light
                        div.position-relative.custom-seccond-sentences
                            strong.position-absolute EXAMPLE
                            ul.list-unstyled
                                - var numbers = ['one','two','three']
                                each number in numbers
                                    li.mb-2.d-flex.align-items-center
                                        i.fa-solid.fa-circle.me-2.small
                                        span.text-muted= number
            .row
                .col-sm-12
                    .col-sm-12
                        div.more-info
                             a.text-decoration-none(href="#") view more examples in the docs! 
                 
                            


        script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js", integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js", integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+", crossorigin="anonymous")